<table class="table table-striped table-bordered table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th>Product Category</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Stock</th>
      <th>Storage Options</th>
      <th>Display</th>
      <th>CPU</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rowData">
     <td>{{row?.productCategory}}</td>
     <td>{{row?.name}}</td>
     <td>{{row?.brand}}</td>
     <td>{{row?.stock}}</td>
     <td>{{row?.storageOptions.toString()}}</td>
     <td>{{row?.display}}</td>
     <td>{{row?.CPU}}</td>
    </tr>
  </tbody>
</table>
