<table class="table table-striped table-bordered table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Bio</th>
      <th>Homepage</th>
      <th>Hobbies</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rowData">
     <td>{{row?.username}}</td>
     <td>{{row?.email}}</td>
     <td>{{row?.bio}}</td>
     <td>{{row?.homepage}}</td>
     <td>{{row?.hobbies.toString()}}</td>
     <td>{{row?.location}}</td>
    </tr>
  </tbody>
</table>
